<section>
    <div class="container login-signup">
        <div class="form">
        <div class="form-heading">
            Edit Biller!
        </div>
            <form action="/admin/biller-update" method="post">
                <div class="input-group">
                    <input type="text" placeholder="Enter Biller Id" id="biller_id" name="biller_id" value="{{id}}" hidden>
                </div>
                <div class="input-group">
                    <label for="biller_name">Biller Name</label>
                    <input type="text" placeholder="Enter Biller Name" id="biller_name" name="biller_name" value="{{biller_name}}">
                </div>
                <div class="input-group">
                    <label for="biller_contact">Biller Contact</label>
                    <input type="text" placeholder="Enter Biller Contact" id="biller_name" name="biller_contact" value="{{biller_contact}}">
                </div>
                <div class="input-group">
                    <label for="biller_email_id">Biller Email Id</label>
                    <input type="text" placeholder="Enter Biller Email Id" id="biller_email_id" name="biller_email_id" value="{{biller_email}}">
                </div>
                <div class="input-group">
                    <label for="biller_address">Biller Address</label>
                    <input type="text" placeholder="Enter Biller Address" id="biller_address" name="biller_address" value="{{biller_address}}">
                </div>

                <div class="input-group">
                    <button type="submit" class="btn2">Update Biller</button>
                </div>
            </form>
        </div>
    </div>
</section>